{% load static %}

<div class="media clearfix">
    <div class="media-left">
        {% if item.product.image %}
            <img class="media-object" src="{% static item.product.image %}" alt="{{ item.product.name }}">
        {% endif %}
    </div>
    <div class="media-body">
        <form action="{% url 'coffeebar:order_remove' %}">
            {% csrf_token %}
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <button class="close float-xs-right" type="submit" aria-label="Remove" title="Remove this item">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>

        <h3>{{ item.product.name }}</h3>
        <p>${{ item.product.price|floatformat:2 }}</p>

        {% if item.get_related %}
            <ul class="list-group">
                {% for topping in item.get_related %}
                    <li class="list-group-item">
                        <span>{{ topping.product.name }}</span>
                        <span class="float-xs-right">{{ topping.product.price }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
