{% load i18n %}

<li class="list-group-item">
    <form action="{% url 'coffeebar:order:remove' %}">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button class="close float-xs-right" type="submit" aria-label="{% trans 'Remove' %}"
                title="{% trans 'Remove this item' %}">
            <span aria-hidden="true">&times;</span>
        </button>
    </form>

    <span>{{ item.product.name }}</span>
    <span class="text-muted">${{ item.total|floatformat:2 }}</span>

    {% if item.get_related %}
        <ul>
            {% for topping in item.get_related %}
                <li>{{ topping.product.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</li>
