{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}

{% block content %}

    <div class="row flex-items-xs-top">
        <div class="col-xs-12 col-md-7 col-lg-8">
            <div class="row flex-items-xs-top">
                {% for drink in drinks %}
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <form class="card" action="{% url 'coffeebar:order:add' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ drink.product.id }}">

                            {% if drink.product.image %}
                                <div class="card-block">
                                    <div class="product-image">
                                        <img src="{% static drink.product.image %}" alt="{{ drink.product.name }}">
                                    </div>
                                </div>
                            {% endif %}

                            <div class="card-block">
                                <h4 class="card-title">{{ drink.product.name }}</h4>
                                <p class="card-subtitle text-muted">${{ drink.product.price|floatformat:2 }}</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                {% for topping in drink.get_toppings %}
                                    <li class="list-group-item">
                                        <label class="custom-control custom-checkbox mb-0 d-block clearfix">
                                            <input class="custom-control-input" type="checkbox" name="toppings" value="{{ topping.product.id }}">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">{{ topping.product.name }}</span>
                                            <span class="text-muted float-xs-right">${{ topping.product.price|floatformat:2 }}</span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="card-block">
                                <button class="btn btn-primary btn-block order-btn" type="submit">{% trans 'Add to order' %}</button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-lg-4">
            <div class="card cart">
                <div class="card-block">
                    <h2 class="card-title cart-title d-inline-block">{% trans 'Order' %}</h2>
                </div>
                {% if order.get_items %}
                    <ul class="list-group list-group-flush">
                        {% for item in order.get_items %}
                            {% include 'partials/order/item.html' %}
                        {% endfor %}
                    </ul>

                    <div class="card-block">
                        <form action="{% url 'coffeebar:order:checkout' %}">
                            {% csrf_token %}
                            <button class="btn btn-primary">{% trans 'Checkout' %}</button>
                            <a class="btn btn-link" href="{% url 'coffeebar:order:index' %}">{% trans 'Details' %}</a>
                        </form>
                    </div>
                {% else %}
                    <div class="card-block">
                        <p class="card-text">{% trans 'You have not chosen anything' %}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
