<!doctype html>

{% load static %}

<html class="no-js" lang="en">
<head>
        {% include '../partials/head/meta.html' %}

        <title>Air Coffee</title>

        {% include '../partials/head/links.html' %}
    </head>
    <body>
        {% include '../partials/browser.html' %}

        {% load static %}
        <main class="main pt-3 mt-3">
            <header class="header">
                <nav class="navbar navbar-light bg-primary navbar-fixed-top navbar-full header-navbar">
                    <div class="container">
                        <a class="navbar-brand" href="{% url 'coffeebar:index' %}">
                            <img src="{% static 'images/logo-inline.svg' %}" width="30" alt="Air Coffee">
                        </a>

                        {% load urls %}
                        <div class="nav navbar-nav">
                            <a class="nav-item btn btn-primary {% active request 'coffeebar:index' %}" href="{% url 'coffeebar:index' %}">Coffee Menu</a>
                            <a class="nav-item nav-link {% active request 'coffeebar:order_list' %}" href="{% url 'coffeebar:order_list' %}">Orders</a>

                            {% if request.user %}
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="http://example.com"
                                       id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        Administration
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Orders</a>
                                        <a class="dropdown-item" href="#">Accounts</a>
                                        <a class="dropdown-item" href="#">Products</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="nav float-xs-right">
                            <div class="nav-item dropdown">
                                <button class="nav-link btn btn-primary dropdown-toggle" id="usermenu-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ request.user.username }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="usermenu-dropdown">
                                    <a class="dropdown-item" href="{% url 'coffeebar:logout' %}">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="container">
                {% block content %}
                    <p>Hello world! This is HTML5 Boilerplate.</p>
                {% endblock %}
            </div>

            <footer class="footer navbar navbar-dark text-white">
                <div class="container">
                    <span class="copy float-sm-left">© {% now 'Y' %} Air Coffee</span>
                    <a class="author float-sm-right" href="http://www.yakubiv.com">www.yakubiv.com</a>
                </div>
            </footer>
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    </body>
</html>
