{% extends "layouts/base.html" %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <h1>Your orders</h1>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th class="text-xs-right">Total</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <th>{{ order.id }}</th>
                                <td>{{ order.datetime }}</td>
                                <td class="text-xs-right">${{ order.total|floatformat:2 }}</td>
                                <td>{{ order.get_status_display }}</td>
                                <td>
                                    <a href="{% url 'coffeebar:order:details' order.id %}">Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
